<h1>Products</h1>


<%= form_for @product,url: import_index_path, method: :post, html: { multipart: true } do |f| %>
  <p>
    <label>Upload product</label>
    <%= f.file_field :attachment %>
  </p>
  <span class="csv_link">Download a <a href="/products_export.xlsx">sample XLSX template</a> to see an example of the format required.</span>
  <p>
    <%= f.submit  "Add products"%>
  </p>
<% end %>
